<li class="table-list-row list-body">
    <div class="list-row">
        <div class="list-col list-num col-custom-60 mobile-none">{{num}}</div>
        {{thumb}}
        <div class="list-col list-subject col-custom-auto text-left">
            <a href="{{href}}">{{title}}</a>
            <div class="list-article-info">
                <div class="list-item list-name mobile-only">{{nickName}}</div>
                <div class="list-item list-date">{{date}}</div>
                 {{comment}}
            </div>
        </div>
        <div class="list-col list-name mobile-none">{{nickName}}</div>
        <div class="list-col list-hit col-custom-80 mobile-none">{{hit}}</div>
    </div>
</li>