<div id="comment-list-{{no}}" class="comment-list" data-no="{{no}}">
    <div class="comment-list-header table-flex">
        <div class="name">{{nickName}}</div>
        <div class="date ml-1">{{date}}</div>
    </div>
    <div class="comment-content">{{content}}</div>
    <div class="comment-footer table-flex justify-between">
        <div class="reaction-group">{{reaction}}</div>
        <div class="table-flex">
            <button type="button" class="btn btn-ssm btn-outline-hover-gray-accent" onclick="commentAction(this);" data-action="modify">수정</button>
            <button type="button" class="btn btn-ssm btn-outline-hover-gray-accent ml-1" onclick="commentAction(this);" data-action="delete">삭제</button>
            <button type="button" class="btn btn-ssm btn-outline-hover-gray-accent ml-1" onclick="commentAction(this);" data-action="replay">답글</button>
        </div>
    </div>
</div>