<style>
#{{boxId}}.swiper-container {
    position: relative;
    overflow: hidden;
}
#{{boxId}} .swiper-wrapper {
}
#{{boxId}} .swiper-slide {
    width: 100%;
}
</style>
<div class="banner-box {{swiperContainer}}" id="{{boxId}}">
    <ul class="banner-list {{swiperWrapper}}">
        {{items}}
    </ul>
</div>
{{swiperHtml}}

<!--ITEM_TEMPLATE_START-->
<li class="table-list-row list-body {{swiperSlide}}">
    <div class="list-row banner-row mobile-none">{{pcImage}}</div>
    <div class="list-row banner-row mobile-only">{{moImage}}</div>
</li>
<!--ITEM_TEMPLATE_END-->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var bannerBox = document.getElementById('{{boxId}}');
        {{swiperScript}}
    });
</script>